In [15]:
import json
import geopandas as gpd
import requests
import pandas as pd
from pytrends.request import TrendReq
import time

In [16]:
url = "http://overpass-api.de/api/interpreter"

# Step 2: Write the query to find padel courts in Berlin
query_berlin_outdoor = """
[out:json];
area["name"="Berlin"]["admin_level"=4]->.searchArea;
(
  node["leisure"="pitch"]["sport"="padel"](area.searchArea);
  way["leisure"="pitch"]["sport"="padel"](area.searchArea);
  relation["sport"="padel"](area.searchArea);
);
out center;
"""

In [17]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": query_berlin_outdoor})
data = response.json()

üîç Searching for padel courts in Berlin...

In [18]:
courts_outdoor = data.get('elements', [])

In [40]:
berlin_outdoor_court_list = []
for court in courts_outdoor:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    berlin_outdoor_court_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [41]:
berlin_outdoor_df = pd.DataFrame(berlin_outdoor_court_list)

In [42]:
berlin_outdoor_df['latitude']

0     52.533991
1     52.533893
2     52.507683
3     52.507844
4     52.576232
5     52.575994
6     52.484972
7     52.484871
8     52.504091
9     52.504007
10    52.504049
11    52.504131
12    52.504172
13    52.534078
14    52.534164
15    52.507757
16    52.497592
17    52.497666
18    52.537042
19    52.536959
20    52.537259
21    52.537178
22    52.462844
23    52.548786
Name: latitude, dtype: float64

In [43]:
# Step 7: Show results
print(f"\n‚úÖ Found {len(berlin_outdoor_df)} padel courts in Berlin\n")
print(berlin_outdoor_df)

‚úÖ Found 24 padel courts in Berlin

                      name   latitude  longitude
0   Court 2 (Nicolas Cage)  52.533991  13.383862
1    Court 1 (Johnny Cage)  52.533893  13.383966
2            Unnamed Court  52.507683  13.473889
3            Unnamed Court  52.507844  13.473945
4            Unnamed Court  52.576232  13.358355
5            Unnamed Court  52.575994  13.358270
6          Outdoor Spree 2  52.484972  13.496470
7          Outdoor Spree 1  52.484871  13.496572
8            CUPRA Court 3  52.504091  13.473308
9     CUPRA Center Court 1  52.504007  13.473640
10    CUPRA Center Court 2  52.504049  13.473473
11           OYSHO Court 4  52.504131  13.473145
12    Heineken 0,0 Court 5  52.504172  13.472983
13                 Court 3  52.534078  13.383757
14                 Court 4  52.534164  13.383664
15                 Court 3  52.507757  13.474248
16                 Court 1  52.497592  13.450745
17                 Court 2  52.497666  13.450846
18           Unnamed Court  52.537042  13.369434
19           Unnamed Court  52.536959  13.369253
20           Unnamed Court  52.537259  13.369160
21           Unnamed Court  52.537178  13.368982
22        Grenzallee Padel  52.462844  13.460890
23           Unnamed Court  52.548786  13.225800

In [44]:
berlin_outdoor_df

                      name   latitude  longitude
0   Court 2 (Nicolas Cage)  52.533991  13.383862
1    Court 1 (Johnny Cage)  52.533893  13.383966
2            Unnamed Court  52.507683  13.473889
3            Unnamed Court  52.507844  13.473945
4            Unnamed Court  52.576232  13.358355
5            Unnamed Court  52.575994  13.358270
6          Outdoor Spree 2  52.484972  13.496470
7          Outdoor Spree 1  52.484871  13.496572
8            CUPRA Court 3  52.504091  13.473308
9     CUPRA Center Court 1  52.504007  13.473640
10    CUPRA Center Court 2  52.504049  13.473473
11           OYSHO Court 4  52.504131  13.473145
12    Heineken 0,0 Court 5  52.504172  13.472983
13                 Court 3  52.534078  13.383757
14                 Court 4  52.534164  13.383664
15                 Court 3  52.507757  13.474248
16                 Court 1  52.497592  13.450745
17                 Court 2  52.497666  13.450846
18           Unnamed Court  52.537042  13.369434
19           Unnamed Court  52.536959  13.369253
20           Unnamed Court  52.537259  13.369160
21           Unnamed Court  52.537178  13.368982
22        Grenzallee Padel  52.462844  13.460890
23           Unnamed Court  52.548786  13.225800

In [45]:
query2_courts = """
[out:json][timeout:60];
area["boundary"="administrative"]["name"="Berlin"]->.a;

(
  nwr["sport"="padel"](area.a);
);

out tags center;
"""

In [32]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": query2_courts})
data = response.json()

üîç Searching for padel courts in Berlin...

In [47]:
berlin_courts_query2 = data.get('elements', [])

In [52]:
berlin_test_list = []
for court in berlin_courts_query2:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    berlin_test_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [53]:
berlin_query_df2 = pd.DataFrame(berlin_test_list)

In [54]:
berlin_query_df2

                      name   latitude  longitude
0             Padel Berlin  52.507778  13.474044
1                  Tio Tio  52.504117  13.473322
2             We Are Padel  52.599509  13.348534
3   Court 2 (Nicolas Cage)  52.533991  13.383862
4    Court 1 (Johnny Cage)  52.533893  13.383966
5            Unnamed Court  52.507683  13.473889
6            Unnamed Court  52.507844  13.473945
7            Unnamed Court  52.576232  13.358355
8            Unnamed Court  52.575994  13.358270
9          Outdoor Spree 2  52.484972  13.496470
10         Outdoor Spree 1  52.484871  13.496572
11           CUPRA Court 3  52.504091  13.473308
12    CUPRA Center Court 1  52.504007  13.473640
13    CUPRA Center Court 2  52.504049  13.473473
14           OYSHO Court 4  52.504131  13.473145
15    Heineken 0,0 Court 5  52.504172  13.472983
16                 Court 3  52.534078  13.383757
17                 Court 4  52.534164  13.383664
18                 Court 3  52.507757  13.474248
19                 Court 1  52.497592  13.450745
20                 Court 2  52.497666  13.450846
21           Unnamed Court  52.537042  13.369434
22           Unnamed Court  52.536959  13.369253
23           Unnamed Court  52.537259  13.369160
24           Unnamed Court  52.537178  13.368982
25        Grenzallee Padel  52.462844  13.460890
26           Unnamed Court  52.548786  13.225800

In [55]:
berlin_query_df2.sort_values(by="latitude", ascending=False)

                      name   latitude  longitude
2             We Are Padel  52.599509  13.348534
7            Unnamed Court  52.576232  13.358355
8            Unnamed Court  52.575994  13.358270
26           Unnamed Court  52.548786  13.225800
23           Unnamed Court  52.537259  13.369160
24           Unnamed Court  52.537178  13.368982
21           Unnamed Court  52.537042  13.369434
22           Unnamed Court  52.536959  13.369253
17                 Court 4  52.534164  13.383664
16                 Court 3  52.534078  13.383757
3   Court 2 (Nicolas Cage)  52.533991  13.383862
4    Court 1 (Johnny Cage)  52.533893  13.383966
6            Unnamed Court  52.507844  13.473945
0             Padel Berlin  52.507778  13.474044
18                 Court 3  52.507757  13.474248
5            Unnamed Court  52.507683  13.473889
15    Heineken 0,0 Court 5  52.504172  13.472983
14           OYSHO Court 4  52.504131  13.473145
1                  Tio Tio  52.504117  13.473322
11           CUPRA Court 3  52.504091  13.473308
13    CUPRA Center Court 2  52.504049  13.473473
12    CUPRA Center Court 1  52.504007  13.473640
20                 Court 2  52.497666  13.450846
19                 Court 1  52.497592  13.450745
9          Outdoor Spree 2  52.484972  13.496470
10         Outdoor Spree 1  52.484871  13.496572
25        Grenzallee Padel  52.462844  13.460890

**Berlin Tennis Courts**

In [57]:
query_tennis_courts_b = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="Berlin"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [58]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": query_tennis_courts_b})
data = response.json()

üîç Searching for padel courts in Berlin...

In [59]:
tennis_courtsberlin = data.get('elements', [])

In [60]:
berlin_tennis_list = []
for court in tennis_courtsberlin:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    berlin_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [62]:
berlin_tennis_list = pd.DataFrame(berlin_tennis_list)

In [71]:
berlin_tennis_list['name'].value_counts()["Unnamed Court"]

np.int64(792)

**Hamburg Tennis Courts**

In [88]:
hamburg_tennis_courts = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="Hamburg"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [89]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": hamburg_tennis_courts})
data = response.json()

üîç Searching for padel courts in Berlin...

In [90]:
hamburg_tennis_courts = data.get('elements', [])

In [91]:
hamburg_tennis_list = []
for court in hamburg_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    hamburg_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [93]:
hamburg_tennis_list = pd.DataFrame(hamburg_tennis_list)

In [94]:
hamburg_tennis_list

                                               name   latitude  longitude
0    Olympiast√ºtzpunkt Leistungszentrum Tischtennis  53.642941   9.959137
1                                      Tennis-Point  53.548816  10.000276
2                 Harburger Tennis- und Hockey-Club  53.457733   9.936368
3                                  Tennis TuS Berne  53.633826  10.123399
4                                     Unnamed Court  53.499305  10.180752
..                                              ...        ...        ...
705                          Tennisanlage Eichenhof  53.710296  10.098750
706                       Tennisanlage Farmsener TV  53.599750  10.105376
707                          Tennis-Club Langenhorn  53.643703  10.015694
708                                   Unnamed Court  53.643279  10.131344
709                                   Unnamed Court  53.569107  10.146391

[710 rows x 3 columns]

**Stuttgart Tennis Courts**

In [97]:
stuttgart_tennis_courts_query = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="Stuttgart"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [98]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": stuttgart_tennis_courts_query})
data = response.json()

üîç Searching for padel courts in Berlin...

In [99]:
stuttgart_tennis_courts = data.get('elements', [])

In [100]:
stuttgart_tennis_list = []
for court in stuttgart_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    stuttgart_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [101]:
stuttgart_tennis_list = pd.DataFrame(stuttgart_tennis_list)

In [102]:
stuttgart_tennis_list

                               name   latitude  longitude
0                      Tennis-Point  48.768622   9.145766
1           Tennis Club Waldau e.V.  48.753642   9.184435
2            Sportfreunde Stuttgart  48.752744   9.185194
3                        TC Galileo  48.721100   9.118233
4                        TC Galileo  48.721374   9.118752
..                              ...        ...        ...
275                         Court 8  48.796887   9.169795
276                         Court 7  48.796961   9.170032
277                        Court 18  48.796756   9.167642
278  Tennisschule Stuttgart Botnang  48.775267   9.134175
279                        Court 21  48.797214   9.167978

[280 rows x 3 columns]

**Munich Tennis Courts**

In [103]:
munich_tennis_courts_query = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="M√ºnchen"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [104]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": munich_tennis_courts_query})
data = response.json()

üîç Searching for padel courts in Berlin...

In [105]:
munich_tennis_courts = data.get('elements', [])

In [106]:
munich_tennis_list = []
for court in munich_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    munich_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [107]:
munich_tennis_list = pd.DataFrame(munich_tennis_list)

In [108]:
munich_tennis_list

                          name   latitude  longitude
0                         Lupo  48.166401  11.569780
1         Tennis-Center Allach  48.194829  11.455445
2    MTC Ausstellungspark e.V.  48.124806  11.525863
3                  STC M√ºnchen  48.089073  11.524796
4                Unnamed Court  48.096873  11.610642
..                         ...        ...        ...
326              Unnamed Court  48.140938  11.476418
327              Unnamed Court  48.140922  11.476666
328              Unnamed Court  48.140906  11.476917
329              Unnamed Court  48.140613  11.476622
330              Unnamed Court  48.140597  11.476872

[331 rows x 3 columns]

**K√∂ln Tennis Courts**

In [109]:
koln_tennis_courts_query = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="K√∂ln"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [110]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": koln_tennis_courts_query})
data = response.json()

üîç Searching for padel courts in Berlin...

In [111]:
koln_tennis_courts = data.get('elements', [])

In [112]:
koln_tennis_list = []
for court in koln_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    koln_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [113]:
koln_tennis_list = pd.DataFrame(koln_tennis_list)
koln_tennis_list

                                             name   latitude  longitude
0                  Tennisverband Mittelrhein e.V.  51.025062   6.910052
1                        Tennis Centrum Immendorf  50.856267   6.957001
2    Sportheim Ruder und Tennisklub Germania K√∂ln  50.911354   6.984607
3                                     Tennishalle  50.968573   6.990363
4                   SV Rot-Gelb 1961 Godorf e. V.  50.860115   6.996926
..                                            ...        ...        ...
434                                 Unnamed Court  50.942279   7.030544
435                                 Unnamed Court  50.942236   7.030287
436                                 Unnamed Court  50.942193   7.030022
437                                 Unnamed Court  50.942169   7.031622
438                                 Unnamed Court  50.942138   7.032024

[439 rows x 3 columns]

**Dusseldorf Tennis Courts**

In [146]:
dusseldorf_tennis_courts_query = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="D√ºsseldorf"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [147]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": dusseldorf_tennis_courts_query})
data = response.json()

üîç Searching for padel courts in Berlin...

In [148]:
dusseldorf_tennis_courts = data.get('elements', [])

In [149]:
dusseldorf_tennis_list = []
for court in dusseldorf_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    dusseldorf_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [150]:
dusseldorf_tennis_list = pd.DataFrame(dusseldorf_tennis_list)

In [151]:
dusseldorf_tennis_list

                   name   latitude  longitude
0    SG Benrath-Hassels  51.176325   6.883903
1    TG Nord D√ºsseldorf  51.274563   6.731535
2    TG Nord D√ºsseldorf  51.274461   6.731573
3    TC Vennhausen e.V.  51.214136   6.863584
4         BTC Sportclub  51.181352   6.831750
..                  ...        ...        ...
345       Unnamed Court  51.269007   6.766043
346       Unnamed Court  51.269038   6.766274
347       Unnamed Court  51.269103   6.766768
348       Unnamed Court  51.269073   6.766535
349       Unnamed Court  51.269133   6.766999

[350 rows x 3 columns]

**Kiel Tennis Courts**

In [164]:
kiel_tennis_courts_query = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="Kiel"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [165]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": kiel_tennis_courts_query})
data = response.json()

üîç Searching for padel courts in Berlin...

In [166]:
kiel_tennis_courts = data.get('elements', [])

In [167]:
kiel_tennis_list = []
for court in kiel_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    kiel_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [168]:
kiel_tennis_list = pd.DataFrame(kiel_tennis_list)

In [169]:
kiel_tennis_list

                                             name   latitude  longitude
0                            Tc zevende Olympiade  51.184376   4.380103
1                                  Sportpark Kiel  54.283252  10.147789
2    Tennis-Gesellschaft Ravensberg e.V. von 1926  54.340293  10.128940
3                                   Unnamed Court  54.336409  10.150593
4                                   Unnamed Court  54.322028  10.181232
..                                            ...        ...        ...
101                                 Unnamed Court  54.403702  10.174429
102                                 Unnamed Court  54.367102  10.145003
103                                 Unnamed Court  54.325729  10.046337
104                                 Unnamed Court  54.325418  10.046131
105                                 Unnamed Court  54.325474  10.045884

[106 rows x 3 columns]

**Frankfurt Tennis Courts**

In [222]:
frankfurt_tennis_courts_query = '''[out:json][timeout:60];
area["boundary"="administrative"]["name"="Frankfurt am Main"]->.a;

(
  nwr["sport"="tennis"](area.a);
);

out tags center;
'''

In [223]:
print("üîç Searching for padel courts in Berlin...")
response = requests.post(url, data={"data": frankfurt_tennis_courts_query})
data = response.json()

üîç Searching for padel courts in Berlin...

In [224]:
frankfurt_tennis_courts = data.get('elements', [])

In [225]:
frankfurt_tennis_list = []
for court in frankfurt_tennis_courts:
    # Get the name (or "Unnamed" if no name exists)
    name = court.get('tags', {}).get('name', 'Unnamed Court')
    
    # Get coordinates
    if 'center' in court:
        lat = court['center']['lat']
        lon = court['center']['lon']
    else:
        lat = court.get('lat', 'N/A')
        lon = court.get('lon', 'N/A')
    
    frankfurt_tennis_list.append({
        'name': name,
        'latitude': lat,
        'longitude': lon
    })

In [226]:
frankfurt_tennis_list = pd.DataFrame(frankfurt_tennis_list)

In [227]:
frankfurt_tennis_list

                    name   latitude  longitude
0     Tenniszentrum Kl√ºh  50.164265   8.654069
1          Tennisplatz 1  50.132233   8.640740
2          Tennisplatz 2  50.132233   8.640478
3          Tennisplatz 3  50.132678   8.640554
4          Tennisplatz 4  50.132675   8.640296
..                   ...        ...        ...
219  Tennisclub Cassella  50.137485   8.773590
220        Unnamed Court  50.137434   8.773464
221  Tennisclub Cassella  50.139133   8.772736
222        Unnamed Court  50.139079   8.772456
223        Unnamed Court  50.139535   8.772794

[224 rows x 3 columns]

**Total Tennis Courts**

In [228]:
tennis_courts = pd.DataFrame({
    'city': [
        'Stuttgart', 
        'Berlin', 
        'K√∂ln', 
        'D√ºsseldorf', 
        'Munich', 
        'Kiel', 
        'Hamburg',
        'Frankfurt'
    ],
    'tennis_court_count': [
        len(stuttgart_tennis_list),
        len(berlin_tennis_list),
        len(koln_tennis_list),
        len(dusseldorf_tennis_list),
        len(munich_tennis_list),
        len(kiel_tennis_list),
        len(hamburg_tennis_list),
        len(frankfurt_tennis_list)
    ]
})

In [207]:
tennis_courts = tennis_courts.sort_values(by='tennis_court_count', ascending=False).reset_index(drop=True)

In [208]:
tennis_courts

         city  tennis_court_count
0      Berlin                 909
1     Hamburg                 710
2        K√∂ln                 439
3  D√ºsseldorf                 350
4      Munich                 331
5   Stuttgart                 280
6        Kiel                 106

**PADEL COURT COUNT**

In [ ]:
#manual data from Berlin Venues

In [26]:
berlin_venues = pd.read_csv('Berlin_Padel_Venues.csv')

In [30]:
berlin_venues

,Venue,Address,Indoor,Outdoor,Total
0,Padel FC (Rummelsburg),"K√∂penicker Chaussee 11‚Äì14, 10317 Berlin",7,2,9
1,TIO TIO Hub (Friedrichshain/Lichtenberg rooftop),"Marktstra√üe 6, 10317 Berlin",0,5,5
2,Padel Berlin (Wiesenweg/Ostkreuz),"Wiesenweg 1‚Äì4, 10365 Berlin",1,2,3
3,Birgit / Kreuzberg Padel,"Schleusenufer 3 (Eingang Birgit Club), 10997 B...",0,2,2
4,Padel Mitte (Wedding),"M√ºllerstra√üe 185 (Erika-Hess-Eisstadion), 1335...",0,4,4
5,Padel Neuk√∂lln (Oderstra√üe / Hasenheide),"Oderstra√üe 182, 12049 Berlin",0,4,4
6,Grenzallee Padel (Neuk√∂lln),"Haberstra√üe 18 (Zufahrt Bergiusstra√üe 33), 120...",0,11,11
7,F√ºchse Berlin (Reinickendorf),"Kopenhagener Stra√üe 33, 13407 Berlin",2,0,2
8,KICKERWorld Spandau,"Kleine Eiswerderstra√üe 1, 13599 Berlin",0,2,2
9,4PADEL Berlin (Reinickendorf),"K√∂nigshorster Stra√üe 11‚Äì15, 13439 Berlin",6,0,6
10,BeachMitte (Mitte),"Caroline-Michaelis-Stra√üe 8, 10115 Berlin",0,4,4
11,Padel Lankwitz (Tempelhof-Sch√∂neberg),"Leonorenstra√üe 37, 12247 Berlin",0,4,4
12,PBC Center (Tempelhof-Sch√∂neberg),"Gro√übeerenstra√üe 2‚Äì10, 12107 Berlin",6,0,6
13,mitte ‚Äî Charlotte (Charlottenburg),"Sophie-Charlotten-Stra√üe 14, 14059 Berlin",5,0,5
14,Totals,‚Äî,27,40,67

In [ ]:
# manual data from Hamburg Venues

In [75]:
hamburg_venues = pd.read_csv('/Users/claudiocuadra/Documents/GitHub/final_project_padel/Padel Courts Germany Cities/hamburg_metro_padel_venues.csv')

In [76]:
hamburg_venues

                                    Venue  Indoor  Outdoor  Total
0                     Hanse Padel Hamburg      16        0     16
1           mitte ‚Äî The Cabrio (Wandsbek)      12        0     12
2             mitte ‚Äî Dolce Vita (Altona)       6        0      6
3                   P3 Padel Club Hamburg       7        0      7
4               Padelon Hamburg‚ÄìRahlstedt       6        0      6
5           Padelon Hamburg‚ÄìHummelsb√ºttel       6        6     12
6                Aspria Hamburg Alstertal       4        0      4
7   SC Condor (roofed counted as outdoor)       0        3      3
8                             Klipper THC       0        2      2
9                Treudelberg by MeetPadel       0        1      1
10                  UHC ‚Äì Uhlenhorster HC       0        1      1
11       Padel Amigos (Halstenbek, metro)       5        4      9
12                 Totals (Hamburg metro)      62       17     79

In [ ]:
# manual data from Munich Venues

In [78]:
munich_venues = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/Padel Courts Germany Cities/munich_padel_playtomic.csv")

In [79]:
munich_venues

                              Venue  Indoor  Outdoor  Total
0         Casa Padel Pineapple Park       5        4      9
1                 Scheck Club Padel       3        6      9
2                  Lucky Star Padel       0       10     10
3                 Padel City Munich       2        0      2
4                M√ºnchner Sportclub       0        2      2
5       ISPO Munich - Padel Village       1        0      1
6                     Padel Seasons       4        3      7
7                ESV SPFRD Neuabing       0        1      1
8                   Padelon M√ºnchen       8        3     11
9  Totals (Munich - Playtomic list)      23       29     52

In [ ]:
# manual data from Frankfurt am Main Venues

In [80]:
frankfurt_venues = pd.read_csv('/Users/claudiocuadra/Documents/GitHub/final_project_padel/Padel Courts Germany Cities/frankfurt_venues.csv')

In [83]:
frankfurt_venues.drop(columns=['Area','CarFree'], inplace = True)

In [84]:
frankfurt_venues

,Venue,Address,Indoor,Outdoor,Total
0,Gibson Beach Club,"Mainzer Landstra√üe 23, 60329 Frankfurt am Main",0,2,2
1,Padel Frankfurt ‚Äì Niddapark,"Am Ginnheimer W√§ldchen 1, 60431 Frankfurt am Main",0,4,4
2,Sportpark Frankfurt,"August-Schanz-Stra√üe 24‚Äì26, 60433 Frankfurt am...",0,9,9
3,H√∂chster THC 1899,"Grasm√ºckenweg 11, 65929 Frankfurt am Main",0,2,2
4,PadelCity Frankfurt,"Kennedyallee 127, 60596 Frankfurt am Main",0,3,3
5,The Padellers ‚Äì Frankfurt (Dreieich),"Otto-Hahn-Stra√üe 39, 63303 Dreieich",9,0,9
6,Totals (Overall),‚Äî,9,20,29

In [ ]:
# manual data from K√∂ln venues

In [85]:
koln_venues = pd.read_csv('/Users/claudiocuadra/Documents/GitHub/final_project_padel/padel_venues/koln_padel_all_operators.csv')

In [86]:
koln_venues

                                 Venue  Indoor  Outdoor  Total
0                 padelBOX K√∂ln‚ÄìWeiden       8        0      8
1               padelBOX K√∂ln‚ÄìL√∂venich       4        0      4
2               KKHT Schwarz-Wei√ü K√∂ln       0        2      2
3  The Cube Padel (Carlswerk, M√ºlheim)       0        2      2
4         K√∂lner THC Stadion Rot-Weiss       0        2      2
5                             Terminal       6        0      6
6                    TC Rot-Weiss Porz       0        1      1
7        Totals (K√∂ln ‚Äî all operators)      18        7     25

In [114]:
# manual data from Stuttgart venues

In [282]:
stuttgart_venues = pd.read_csv('/Users/claudiocuadra/Documents/GitHub/final_project_padel/padel_venues/stuttgart_padel_city.csv')

In [284]:
stuttgart_venues

,Venue,Address,Indoor,Outdoor,Total
0,Padel Battle Stuttgart (TSV Jahn B√ºsnau),"Adolf-Engster-Weg 10, 70569 Stuttgart",0,3,3
1,HTC Stuttgarter Kickers,"Bopser√§cker 1, 70597 Stuttgart",0,1,1
2,TC Blau-Weiss Vaihingen-Rohr,"He√übr√ºhlstra√üe 64, 70565 Stuttgart",0,1,1
3,Matchcenter Filderstadt,Mahlestra√üe 70 70794 Filderstadt (Bonlanden),3,0,3
4,Top Tennis Stuttgart,"Sch√∂nbergstr. 38, 70599 Stuttgart",3,0,3
5,Totals (Stuttgart ‚Äî city-only),‚Äî,3,5,8

In [280]:
# Keep all venues except the old totals row
stuttgart_venues = stuttgart_venues[~stuttgart_venues["Venue"].str.contains("Totals", na=False)].copy()

# Recalculate totals
totals = {
    "Venue": "Totals (Stuttgart ‚Äî city-only)",
    "Address": "‚Äî",
    "Indoor": stuttgart_venues["Indoor"].sum(),
    "Outdoor": stuttgart_venues["Outdoor"].sum(),
    "Total": stuttgart_venues["Total"].sum()
}

# Append the new totals row at the end
stuttgart_venues.loc[len(stuttgart_venues)] = totals

In [ ]:
# manual data from Dusseldorf venues

In [170]:
dusseldorf_venues = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/padel_venues/duesseldorf_padel_city_only.csv")

In [171]:
dusseldorf_venues

                                            Venue  Indoor  Outdoor  Total
0                  We Are Padel D√ºsseldorf (Rath)      10        0     10
1  Padelon D√ºsseldorf @ COSMO Sports (Gerresheim)       5        0      5
2                   TG Nord D√ºsseldorf (Lohausen)       0        3      3
3            Padel Arena D√ºsseldorf @ TC Kartause       0        2      2
4                             Totals (D√ºsseldorf)      15        5     20

In [ ]:
#kiel padel venues

In [177]:
kiel_venues = pd.DataFrame({
    'Venue': [
        'Padelon Kiel',
        'Totals'
    ],
    'Indoor': [
        7,
        7
    ],
    'Outdoor': [
        0,
        0
    ],
    'Total': [
        7,
        7
    ]
})

In [178]:
kiel_venues

          Venue  Indoor  Outdoor  Total
0  Padelon Kiel       7        0      7
1        Totals       7        0      7

In [ ]:
#padel court counts

In [287]:
# list of your 7 dataframes
dfs = [
    dusseldorf_venues,
    berlin_venues,
    hamburg_venues,
    koln_venues,
    kiel_venues,
    stuttgart_venues,
    frankfurt_venues,
    munich_venues
]

# extract the 'Total' value from the last row of each dataframe
totals = [df['Total'].iloc[-1] for df in dfs]

# create new dataframe with city names
padel_courts = pd.DataFrame({
    'city': [
        'D√ºsseldorf',
        'Berlin',
        'Hamburg',
        'K√∂ln',
        'Kiel',
        'Stuttgart',
        'Frankfurt',
        'Munich'
    ],
    'padel_court_count': totals
})

print(padel_courts)

         city  padel_court_count
0  D√ºsseldorf                 20
1      Berlin                 67
2     Hamburg                 79
3        K√∂ln                 25
4        Kiel                  7
5   Stuttgart                  8
6   Frankfurt                 29
7      Munich                 52

In [286]:
padel_courts

         city  padel_court_count
0  D√ºsseldorf                 20
1      Berlin                 67
2     Hamburg                 79
3        K√∂ln                 25
4        Kiel                  7
5   Stuttgart                  8
6   Frankfurt                 29
7      Munich                 52

In [288]:
padel_courts = padel_courts.sort_values(by='padel_court_count', ascending=False).reset_index(drop=True)

In [289]:
padel_courts

         city  padel_court_count
0     Hamburg                 79
1      Berlin                 67
2      Munich                 52
3   Frankfurt                 29
4        K√∂ln                 25
5  D√ºsseldorf                 20
6   Stuttgart                  8
7        Kiel                  7

In [290]:
# combining padel and tennis courts per city
combined_df = pd.concat([padel_courts.set_index('city'), tennis_courts.set_index('city')], axis=1).reset_index()

combined_df.to_csv("padel_tennis_counts.csv", index=False)

In [237]:
germany_gtrend = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/google_trends_csv/map_germany_trends.csv")

In [238]:
germany_gtrend

                     state  trend_score_five_years
0                  Hamburg                     100
1   North Rhine-Westphalia                      71
2                   Berlin                      68
3                    Hesse                      54
4                   Bremen                      50
5        Baden-W√ºrttemberg                      48
6       Schleswig-Holstein                      48
7                  Bavaria                      47
8             Lower Saxony                      40
9     Rhineland-Palatinate                      31
10                Saarland                      25
11                  Saxony                      19
12             Brandenburg                      17
13           Saxony-Anhalt                      14
14  Mecklenburg-Vorpommern                      12
15               Thuringia                      10