In [1]:
import pandas as pd

In [2]:
germany_gtrend = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/google_trends_csv/map_germany_trends.csv")

In [3]:
pop_income_state = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/eurostats/pop_income_state.csv")

In [4]:
pop_income_state

                city                   state  population  disposable_income
0            Hamburg                 Hamburg     1851596              29620
1             Berlin                  Berlin     3902645              26209
2            München                 Bavaria     1604771              31525
3  Frankfurt am Main                   Hesse      775109              28826
4               Köln  North Rhine-Westphalia     1024621              27754
5         Düsseldorf  North Rhine-Westphalia      658245              27754
6               Kiel      Schleswig-Holstein      251379              29395
7          Stuttgart       Baden-Württemberg      604804              30242

In [5]:
merged = pop_income_state.merge(germany_gtrend, on="state", how="left")

In [6]:
merged

,city,state,population,disposable_income,trend_score_five_years
0,Hamburg,Hamburg,1851596,29620,100
1,Berlin,Berlin,3902645,26209,68
2,München,Bavaria,1604771,31525,47
3,Frankfurt am Main,Hesse,775109,28826,54
4,Köln,North Rhine-Westphalia,1024621,27754,71
5,Düsseldorf,North Rhine-Westphalia,658245,27754,71
6,Kiel,Schleswig-Holstein,251379,29395,48
7,Stuttgart,Baden-Württemberg,604804,30242,48

In [7]:
padel_tennis_counts = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/padel_tennis_counts.csv")

In [8]:
padel_tennis_counts["city"] = padel_tennis_counts["city"].replace({
    "Munich": "München",
    "Frankfurt": "Frankfurt am Main"})

In [9]:
merged = merged.merge(padel_tennis_counts, on="city", how="left")

In [10]:
merged

,city,state,population,disposable_income,trend_score_five_years,padel_court_count,tennis_court_count
0,Hamburg,Hamburg,1851596,29620,100,79,710
1,Berlin,Berlin,3902645,26209,68,67,909
2,München,Bavaria,1604771,31525,47,52,331
3,Frankfurt am Main,Hesse,775109,28826,54,29,224
4,Köln,North Rhine-Westphalia,1024621,27754,71,25,439
5,Düsseldorf,North Rhine-Westphalia,658245,27754,71,20,350
6,Kiel,Schleswig-Holstein,251379,29395,48,7,106
7,Stuttgart,Baden-Württemberg,604804,30242,48,8,280

In [11]:
state_population = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/eurostats/germany_states_population.csv")

In [12]:
state_population

                    state  population
0      Schleswig-Holstein     2250014
1                 Hamburg     1526473
2  North Rhine-Westphalia    14058191
3                   Hesse     4920571
4       Baden-Württemberg     8824656
5                 Bavaria    10390108
6                  Berlin     2977847

In [13]:
memberships = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/eurostats/germany_states_sports_club_memberships.csv")

In [14]:
memberships

                 state  sports_club_memberships
0   Schleswig-Holstein                   758709
1              Hamburg                   528052
2  Nordrhein-Westfalen                  5099880
3                Hesse                  2137347
4    Baden-Württemberg                  4031464
5              Bavaria                  4408688
6               Berlin                   729622

In [15]:
percentage_sports_population = (
    state_population
    .merge(memberships, on="state", how="inner")
    .assign(
        membership_rate_pct=lambda d: (d["sports_club_memberships"] / d["population"]) * 100
    )
)

# (optional) round for display
percentage_sports_population["membership_rate_pct"] = percentage_sports_population["membership_rate_pct"].round(2)

In [16]:
percentage_sports_population

,state,population,sports_club_memberships,membership_rate_pct
0,Schleswig-Holstein,2250014,758709,33.72
1,Hamburg,1526473,528052,34.59
2,Hesse,4920571,2137347,43.44
3,Baden-Württemberg,8824656,4031464,45.68
4,Bavaria,10390108,4408688,42.43
5,Berlin,2977847,729622,24.50

In [17]:
memberships_per_sport = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/eurostats/sports_memberships_country.csv")

In [18]:
germany_population = 84_400_000  # adjust if you have a different official figure
memberships_per_sport["pct_of_population"] = (
    memberships_per_sport["membership_counts"] / germany_population * 100
)

In [19]:
memberships_per_sport

        sport  membership_counts  pct_of_population
0    Football            7364775           8.726037
1      Tennis            1475131           1.747786
2   Badminton             168603           0.199767
3  Volleyball             410120           0.485924

In [20]:
gym_members = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/eurostats/gym_members_by_city.csv")

In [21]:
gym_members["city"].replace({
    "Frankfurt": "Frankfurt am Main"}, inplace = True)

/var/folders/23/0f9fvs_d7pz0f05wkdmmy5p80000gn/T/ipykernel_23524/3337419885.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gym_members["city"].replace({

In [22]:
gym_members

                city  gym_members
0             Berlin       523800
1            Hamburg       340000
2               Kiel        17500
3          Stuttgart        90000
4         Düsseldorf        80000
5  Frankfurt am Main       100000
6            München       430000
7               Köln       150000

In [23]:
pct = memberships_per_sport.set_index('sport')['pct_of_population']

percentage_sports_population['tennis_players'] = (
    (percentage_sports_population['population'] * pct['Tennis'] / 100).round().astype(int)
)

percentage_sports_population['football_players'] = (
    (percentage_sports_population['population'] * pct['Football'] / 100).round().astype(int))

In [24]:
percentage_sports_population

,state,population,sports_club_memberships,membership_rate_pct,tennis_players,football_players
0,Schleswig-Holstein,2250014,758709,33.72,39325,196337
1,Hamburg,1526473,528052,34.59,26679,133201
2,Hesse,4920571,2137347,43.44,86001,429371
3,Baden-Württemberg,8824656,4031464,45.68,154236,770043
4,Bavaria,10390108,4408688,42.43,181597,906645
5,Berlin,2977847,729622,24.50,52046,259848

In [25]:
city_football_tennis = pd.read_csv("/Users/claudiocuadra/Documents/GitHub/final_project_padel/eurostats/city_football_tennis_members.csv")

In [26]:
city_football_tennis.replace({
    "Frankfurt": "Frankfurt am Main"}, inplace = True)

In [27]:
city_football_tennis

                city  football_players  tennis_players
0             Berlin            809436          161997
1            Hamburg            165794           33208
2               Kiel             21815            4370
3          Stuttgart             55410           11099
4         Düsseldorf             56719           11361
5  Frankfurt am Main             67190           13458
6            München            138743           27790
7               Köln             95986           19226

In [28]:
gym_football_tennis = pd.merge(gym_members, city_football_tennis, on="city", how="left")

In [29]:
gym_football_tennis

                city  gym_members  football_players  tennis_players
0             Berlin       523800            809436          161997
1            Hamburg       340000            165794           33208
2               Kiel        17500             21815            4370
3          Stuttgart        90000             55410           11099
4         Düsseldorf        80000             56719           11361
5  Frankfurt am Main       100000             67190           13458
6            München       430000            138743           27790
7               Köln       150000             95986           19226

In [30]:
gym_football_tennis["city"].replace({
    "Frankfurt": "Frankfurt am Main"}, inplace = True)

/var/folders/23/0f9fvs_d7pz0f05wkdmmy5p80000gn/T/ipykernel_23524/2720862411.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gym_football_tennis["city"].replace({

In [31]:
gym_football_tennis

                city  gym_members  football_players  tennis_players
0             Berlin       523800            809436          161997
1            Hamburg       340000            165794           33208
2               Kiel        17500             21815            4370
3          Stuttgart        90000             55410           11099
4         Düsseldorf        80000             56719           11361
5  Frankfurt am Main       100000             67190           13458
6            München       430000            138743           27790
7               Köln       150000             95986           19226

**OPPORTUNITY INDEX CALCULATION**

In [ ]:
#this is with state population

In [97]:
import pandas as pd

# Assuming your merged dataframe is already loaded
# This recreates the key columns you showed

# Step 1: Calculate POTENTIAL PADEL PLAYERS
# Based on conversion rates: 50% tennis, 25% gym, 15% football, 10% new

def calculate_opportunity_index(df):
    """
    Calculate opportunity index for padel expansion
    
    Inputs needed in df:
    - tennis_players
    - gym_members
    - football_players
    - padel_court_count
    - trend_score_five_years
    - population
    """
    
    # Calculate potential padel players (weighted by conversion likelihood)
    df['potential_padel_players'] = (
        df['tennis_players'] * 0.50 +      # 50% from tennis
        df['gym_members'] * 0.25 +         # 25% from gym/fitness
        df['football_players'] * 0.15 +    # 15% from football
        df['population'] * 0.10 * 0.01     # 10% newcomers (assume 1% of population)
    ).round().astype(int)
    
    # Step 2: Calculate DEMAND SCORE (0-100)
    # Normalize potential players to 0-100 scale
    max_potential = df['potential_padel_players'].max()
    df['demand_score'] = (
        (df['potential_padel_players'] / max_potential) * 100
    ).round(1)
    
    # Step 3: Calculate SUPPLY SCORE (0-100)
    # More courts = higher supply = LOWER opportunity
    # We invert this: fewer courts per capita = higher score
    
    # Courts per 100k population
    df['courts_per_100k'] = (
        (df['padel_court_count'] / df['population']) * 100000
    ).round(2)
    
    # Invert: cities with fewer courts per capita get higher scores
    max_density = df['courts_per_100k'].max()
    df['supply_gap_score'] = (
        100 - ((df['courts_per_100k'] / max_density) * 100)
    ).round(1)
    
    # Step 4: Calculate INTEREST SCORE (already 0-100 from Google Trends)
    df['interest_score'] = df['trend_score_five_years']
    
    # Step 5: Calculate FINAL OPPORTUNITY INDEX
    # Weighted average:
    # - 40% Demand (potential players)
    # - 40% Supply Gap (room for growth)
    # - 20% Interest (search trends)
    
    df['opportunity_index'] = (
        df['demand_score'] * 0.40 +
        df['supply_gap_score'] * 0.40 +
        df['interest_score'] * 0.20
    ).round(1)
    
    # Step 6: Rank cities
    df['rank'] = df['opportunity_index'].rank(ascending=False, method='min').astype(int)
    
    return df


# Example usage with your data:
# Recreate your merged dataframe structure
data = {
    'city': ['Hamburg', 'Berlin', 'München', 'Frankfurt am Main', 'Köln', 
             'Düsseldorf', 'Kiel', 'Stuttgart'],
    'state': ['Hamburg', 'Berlin', 'Bavaria', 'Hesse', 'North Rhine-Westphalia',
              'North Rhine-Westphalia', 'Schleswig-Holstein', 'Baden-Württemberg'],
    'population': [1851596, 3902645, 1604771, 775109, 1024621, 658245, 251379, 604804],
    'disposable_income': [29620, 26209, 31525, 28826, 27754, 27754, 29395, 30242],
    'trend_score_five_years': [100, 68, 47, 54, 71, 71, 48, 48],
    'padel_court_count': [79, 67, 52, 29, 25, 20, 7, 5],
    'tennis_court_count': [710, 909, 331, 224, 439, 350, 106, 280],
    'tennis_players': [33208, 161997, 27790, 13458, 19226, 11361, 4370, 11099],
    'gym_members': [340000, 523800, 430000, 100000, 150000, 80000, 17500, 90000],
    'football_players': [165794, 809436, 138743, 67190, 95986, 56719, 21815, 55410]
}

df = pd.DataFrame(data)

# Calculate opportunity index
df_scored = calculate_opportunity_index(df)

# Display results sorted by opportunity
result_columns = [
    'rank', 'city', 'opportunity_index', 'demand_score', 
    'supply_gap_score', 'interest_score', 'potential_padel_players',
    'padel_court_count', 'courts_per_100k'
]

print("="*80)
print("PADEL EXPANSION OPPORTUNITY INDEX")
print("="*80)
print(df_scored[result_columns].sort_values('opportunity_index', ascending=False).to_string(index=False))

print("\n" + "="*80)
print("TOP 3 CITIES FOR EXPANSION")
print("="*80)

top_3 = df_scored.nlargest(3, 'opportunity_index')
for idx, row in top_3.iterrows():
    print(f"\n#{int(row['rank'])} - {row['city'].upper()}")
    print(f"   Opportunity Index: {row['opportunity_index']}/100")
    print(f"   Potential Players: {row['potential_padel_players']:,}")
    print(f"   Current Courts: {row['padel_court_count']}")
    print(f"   Courts per 100k: {row['courts_per_100k']}")
    print(f"   Why: ", end="")
    
    reasons = []
    if row['demand_score'] > 70:
        reasons.append("high demand")
    if row['supply_gap_score'] > 70:
        reasons.append("low court density")
    if row['interest_score'] > 70:
        reasons.append("strong search interest")
    
    print(", ".join(reasons) if reasons else "balanced opportunity")

# Save results
df_scored.to_csv('opportunity_index_results.csv', index=False)
print("\n" + "="*80)
print("Results saved to 'opportunity_index_results.csv'")
print("="*80)

================================================================================
PADEL EXPANSION OPPORTUNITY INDEX
================================================================================
 rank              city  opportunity_index  demand_score  supply_gap_score  interest_score  potential_padel_players  padel_court_count  courts_per_100k
    1            Berlin               77.5         100.0              59.7              68                   337267                 67             1.72
    2         Stuttgart               46.2          11.0              80.6              48                    36966                  5             0.83
    3              Köln               38.8          18.5              42.9              71                    62536                 25             2.44
    4           München               36.1          42.6              24.1              47                   143811                 52             3.24
    5           Hamburg               35.2          38.0               0.0             100                   128325                 79             4.27
    6        Düsseldorf               29.8          10.3              28.8              71                    34847                 20             3.04
    7              Kiel               24.8           3.0              34.9              48                    10084                  7             2.78
    8 Frankfurt am Main               20.8          12.6              12.4              54                    42583                 29             3.74

================================================================================
TOP 3 CITIES FOR EXPANSION
================================================================================

#1 - BERLIN
   Opportunity Index: 77.5/100
   Potential Players: 337,267
   Current Courts: 67
   Courts per 100k: 1.72
   Why: high demand

#2 - STUTTGART
   Opportunity Index: 46.2/100
   Potential Players: 36,966
   Current Courts: 5
   Courts per 100k: 0.83
   Why: low court density

#3 - KÖLN
   Opportunity Index: 38.8/100
   Potential Players: 62,536
   Current Courts: 25
   Courts per 100k: 2.44
   Why: strong search interest

================================================================================
Results saved to 'opportunity_index_results.csv'
================================================================================

In [98]:
df_scored

,city,state,population,disposable_income,trend_score_five_years,padel_court_count,tennis_court_count,tennis_players,gym_members,football_players,potential_padel_players,demand_score,courts_per_100k,supply_gap_score,interest_score,opportunity_index,rank
0,Hamburg,Hamburg,1851596,29620,100,79,710,33208,340000,165794,128325,38.0,4.27,0.0,100,35.2,5
1,Berlin,Berlin,3902645,26209,68,67,909,161997,523800,809436,337267,100.0,1.72,59.7,68,77.5,1
2,München,Bavaria,1604771,31525,47,52,331,27790,430000,138743,143811,42.6,3.24,24.1,47,36.1,4
3,Frankfurt am Main,Hesse,775109,28826,54,29,224,13458,100000,67190,42583,12.6,3.74,12.4,54,20.8,8
4,Köln,North Rhine-Westphalia,1024621,27754,71,25,439,19226,150000,95986,62536,18.5,2.44,42.9,71,38.8,3
5,Düsseldorf,North Rhine-Westphalia,658245,27754,71,20,350,11361,80000,56719,34847,10.3,3.04,28.8,71,29.8,6
6,Kiel,Schleswig-Holstein,251379,29395,48,7,106,4370,17500,21815,10084,3.0,2.78,34.9,48,24.8,7
7,Stuttgart,Baden-Württemberg,604804,30242,48,5,280,11099,90000,55410,36966,11.0,0.83,80.6,48,46.2,2

In [ ]:
#city population function

In [103]:
df_final = df_final.sort_values(by="opportunity_index", ascending=False)

In [104]:
df_final

,city,state,population,disposable_income,trend_score_five_years,padel_court_count,tennis_court_count,gym_members,football_players,tennis_players,potential_padel_players,demand_score,courts_per_100k,supply_gap_score,interest_score,opportunity_index,rank
1,Berlin,Berlin,3902645,26209,68,67,909,523800.0,809436.0,161997.0,337267,100.0,1.72,59.7,68,77.5,1
7,Stuttgart,Baden-Württemberg,604804,30242,48,5,280,90000.0,55410.0,11099.0,36966,11.0,0.83,80.6,48,46.2,2
4,Köln,North Rhine-Westphalia,1024621,27754,71,25,439,150000.0,95986.0,19226.0,62536,18.5,2.44,42.9,71,38.8,3
2,München,Bavaria,1604771,31525,47,52,331,430000.0,138743.0,27790.0,143811,42.6,3.24,24.1,47,36.1,4
0,Hamburg,Hamburg,1851596,29620,100,79,710,340000.0,165794.0,33208.0,128325,38.0,4.27,0.0,100,35.2,5
5,Düsseldorf,North Rhine-Westphalia,658245,27754,71,20,350,80000.0,56719.0,11361.0,34847,10.3,3.04,28.8,71,29.8,6
6,Kiel,Schleswig-Holstein,251379,29395,48,7,106,17500.0,21815.0,4370.0,10084,3.0,2.78,34.9,48,24.8,7
3,Frankfurt am Main,Hesse,775109,28826,54,29,224,0.0,0.0,0.0,775,0.2,3.74,12.4,54,15.8,8

In [ ]:
#demand score is based on getting 50% of tennis players would try padel which is not accurate

In [ ]:
#first function and analysis

In [32]:
"""
Calculate Padel Opportunity Index for German Cities
Uses actual data from your merged dataframe
Author: Claudio
"""

import pandas as pd

# Fix city name encoding issues
padel_tennis_counts["city"] = padel_tennis_counts["city"].replace({
    "Munich": "München",
    "Frankfurt": "Frankfurt am Main"
})

# Merge all data together
merged = (
    pop_income_state
    .merge(germany_gtrend, on="state", how="left")
    .merge(padel_tennis_counts, on="city", how="left")
    .merge(gym_members, on="city", how="left")
    .merge(city_football_tennis, on="city", how="left")
)

print("Data loaded successfully!")
print(f"Analyzing {len(merged)} German cities\n")

# ============================================================================
# STEP 2: Calculate Opportunity Index
# ============================================================================

def calculate_opportunity_index(df):
    """
    Calculate opportunity index based on:
    - Potential padel players (from tennis, gym, football, newcomers)
    - Supply gap (courts per capita)
    - Search interest (Google Trends)
    
    CORRECTED Conversion rates (% who will TRY padel):
    - 15% of tennis players will try padel
    - 12% of gym members will try padel
    - 7% of football players will try padel
    - 2% of general population (newcomers)
    
    Note: These rates reflect realistic adoption, not the composition
    of the padel player base.
    """
    
    # Make a copy to avoid modifying original
    df = df.copy()
    
    # Fill missing values with 0 to avoid errors
    df['tennis_players'] = df['tennis_players'].fillna(0)
    df['gym_members'] = df['gym_members'].fillna(0)
    df['football_players'] = df['football_players'].fillna(0)
    df['padel_court_count'] = df['padel_court_count'].fillna(0)
    df['trend_score_five_years'] = df['trend_score_five_years'].fillna(0)
    
    # -------------------------------------------------------------------------
    # A) DEMAND SCORE: Calculate potential padel players
    # -------------------------------------------------------------------------
    
    # More realistic conversion rates:
    # - 15% of tennis players likely to try padel (mid-range estimate)
    # - 12% of gym members likely to try padel (mid-range estimate)
    # - 7% of football players likely to try padel (mid-range estimate)
    # - 2% of general population as newcomers
    
    df['potential_padel_players'] = (
        df['tennis_players'] * 0.15 +      # 15% of tennis players
        df['gym_members'] * 0.12 +          # 12% of gym members
        df['football_players'] * 0.07 +     # 7% of football players
        df['population'] * 0.02              # 2% newcomers from general pop
    )
    
    # Round and convert to int (now safe because we filled NaN)
    df['potential_padel_players'] = df['potential_padel_players'].round(0).astype(int)
    
    # Normalize to 0-100 scale (handle case where all values are 0)
    max_potential = df['potential_padel_players'].max()
    if max_potential > 0:
        df['demand_score'] = (
            (df['potential_padel_players'] / max_potential) * 100
        ).round(1)
    else:
        df['demand_score'] = 0
    
    # -------------------------------------------------------------------------
    # B) SUPPLY GAP SCORE: Fewer courts per capita = higher opportunity
    # -------------------------------------------------------------------------
    
    # Calculate courts per 100k population (avoid division by zero)
    df['courts_per_100k'] = (
        (df['padel_court_count'] / df['population']) * 100000
    ).replace([float('inf'), float('-inf')], 0).round(2)
    
    # Invert the score: fewer courts = higher opportunity
    max_density = df['courts_per_100k'].max()
    
    if max_density > 0:
        df['supply_gap_score'] = (
            100 - ((df['courts_per_100k'] / max_density) * 100)
        ).round(1)
    else:
        df['supply_gap_score'] = 100  # If no courts exist, max opportunity
    
    # -------------------------------------------------------------------------
    # C) INTEREST SCORE: Google Trends (already 0-100)
    # -------------------------------------------------------------------------
    
    df['interest_score'] = df['trend_score_five_years']
    
    # -------------------------------------------------------------------------
    # D) FINAL OPPORTUNITY INDEX (weighted average)
    # -------------------------------------------------------------------------
    
    # Weights:
    # - 40% Demand (potential players)
    # - 40% Supply Gap (room for new courts)
    # - 20% Interest (search trends)
    
    df['opportunity_index'] = (
        df['demand_score'] * 0.40 +
        df['supply_gap_score'] * 0.40 +
        df['interest_score'] * 0.20
    ).round(1)
    
    # Rank cities by opportunity
    df['rank'] = df['opportunity_index'].rank(ascending=False, method='min').astype(int)
    
    return df


# ============================================================================
# STEP 3: Apply the calculation
# ============================================================================

df_final = calculate_opportunity_index(merged)

# ============================================================================
# STEP 4: Display results
# ============================================================================

# Select columns for display
result_columns = [
    'rank',
    'city',
    'opportunity_index',
    'demand_score',
    'supply_gap_score',
    'interest_score',
    'potential_padel_players',
    'padel_court_count',
    'courts_per_100k',
    'population',
    'disposable_income'
]

# Sort by opportunity index
results = df_final[result_columns].sort_values('opportunity_index', ascending=False)

print("="*90)
print("PADEL EXPANSION OPPORTUNITY INDEX - GERMAN CITIES")
print("="*90)
print(results.to_string(index=False))

# ============================================================================
# STEP 5: Show detailed insights for top 3 cities
# ============================================================================

print("\n" + "="*90)
print("TOP 3 EXPANSION OPPORTUNITIES - DETAILED ANALYSIS")
print("="*90)

top_3 = df_final.nlargest(3, 'opportunity_index')

for idx, row in top_3.iterrows():
    print(f"\n{'='*90}")
    print(f"RANK #{int(row['rank'])} - {row['city'].upper()}")
    print(f"{'='*90}")
    print(f"  Opportunity Index:        {row['opportunity_index']}/100")
    print(f"")
    print(f"  📊 SCORES:")
    print(f"     Demand Score:          {row['demand_score']}/100")
    print(f"     Supply Gap Score:      {row['supply_gap_score']}/100")
    print(f"     Interest Score:        {row['interest_score']}/100")
    print(f"")
    print(f"  👥 MARKET SIZE:")
    print(f"     Population:            {row['population']:,}")
    print(f"     Potential Players:     {row['potential_padel_players']:,}")
    print(f"     Disposable Income:     €{row['disposable_income']:,}")
    print(f"")
    print(f"  🏓 CURRENT SUPPLY:")
    print(f"     Existing Courts:       {row['padel_court_count']}")
    print(f"     Courts per 100k:       {row['courts_per_100k']}")
    print(f"")
    print(f"  💡 WHY THIS CITY:")
    
    # Generate insights
    reasons = []
    if row['demand_score'] >= 80:
        reasons.append(f"Very high demand ({int(row['potential_padel_players']):,} potential players)")
    elif row['demand_score'] >= 60:
        reasons.append(f"Strong demand ({int(row['potential_padel_players']):,} potential players)")
    
    if row['supply_gap_score'] >= 80:
        reasons.append("Severely undersupplied with courts")
    elif row['supply_gap_score'] >= 60:
        reasons.append("Room for significant expansion")
    
    if row['interest_score'] >= 80:
        reasons.append("Very high search interest")
    elif row['interest_score'] >= 60:
        reasons.append("Growing awareness and interest")
    
    if row['disposable_income'] >= 30000:
        reasons.append("High income market")
    
    for i, reason in enumerate(reasons, 1):
        print(f"     {i}. {reason}")

# ============================================================================
# STEP 6: Save results
# ============================================================================

# Save full results to CSV
#df_final.to_csv('opportunity_index_results.csv', index=False)

# Create a summary table for presentation
summary = df_final[[
    'rank', 'city', 'opportunity_index', 
    'potential_padel_players', 'padel_court_count', 'courts_per_100k'
]].sort_values('rank')

#summary.to_csv('opportunity_index_summary.csv', index=False)

print("\n" + "="*90)
print("FILES SAVED:")
print("="*90)
print("  ✓ opportunity_index_results.csv      (Full dataset with all scores)")
print("  ✓ opportunity_index_summary.csv      (Summary for presentation)")
print("="*90)

# ============================================================================
# STEP 7: Quick statistics
# ============================================================================

print("\n" + "="*90)
print("QUICK STATISTICS")
print("="*90)
print(f"  Average Opportunity Index:     {df_final['opportunity_index'].mean():.1f}")
print(f"  Highest Opportunity Index:     {df_final['opportunity_index'].max():.1f} ({df_final.loc[df_final['opportunity_index'].idxmax(), 'city']})")
print(f"  Total Potential Players:       {df_final['potential_padel_players'].sum():,}")
print(f"  Total Existing Courts:         {df_final['padel_court_count'].sum()}")
print(f"  Average Courts per 100k:       {df_final['courts_per_100k'].mean():.2f}")
print("="*90)

Data loaded successfully!
Analyzing 8 German cities

==========================================================================================
PADEL EXPANSION OPPORTUNITY INDEX - GERMAN CITIES
==========================================================================================
 rank              city  opportunity_index  demand_score  supply_gap_score  interest_score  potential_padel_players  padel_court_count  courts_per_100k  population  disposable_income
    1            Berlin               77.5         100.0              59.7              68                   221869                 67             1.72     3902645              26209
    2         Stuttgart               42.4          12.8              69.1              48                    28440                  8             1.32      604804              30242
    3              Köln               40.0          21.7              42.9              71                    48095                 25             2.44     1024621              27754
    4           Hamburg               37.0          42.6               0.0             100                    94419                 79             4.27     1851596              29620
    5           München               36.6          44.0              24.1              47                    97576                 52             3.24     1604771              31525
    6        Düsseldorf               30.8          12.8              28.8              71                    28439                 20             3.04      658245              27754
    7              Kiel               25.2           4.2              34.9              48                     9310                  7             2.78      251379              29395
    8 Frankfurt am Main               21.9          15.4              12.4              54                    34224                 29             3.74      775109              28826

==========================================================================================
TOP 3 EXPANSION OPPORTUNITIES - DETAILED ANALYSIS
==========================================================================================

==========================================================================================
RANK #1 - BERLIN
==========================================================================================
  Opportunity Index:        77.5/100

  📊 SCORES:
     Demand Score:          100.0/100
     Supply Gap Score:      59.7/100
     Interest Score:        68/100

  👥 MARKET SIZE:
     Population:            3,902,645
     Potential Players:     221,869
     Disposable Income:     €26,209

  🏓 CURRENT SUPPLY:
     Existing Courts:       67
     Courts per 100k:       1.72

  💡 WHY THIS CITY:
     1. Very high demand (221,869 potential players)
     2. Growing awareness and interest

==========================================================================================
RANK #2 - STUTTGART
==========================================================================================
  Opportunity Index:        42.4/100

  📊 SCORES:
     Demand Score:          12.8/100
     Supply Gap Score:      69.1/100
     Interest Score:        48/100

  👥 MARKET SIZE:
     Population:            604,804
     Potential Players:     28,440
     Disposable Income:     €30,242

  🏓 CURRENT SUPPLY:
     Existing Courts:       8
     Courts per 100k:       1.32

  💡 WHY THIS CITY:
     1. Room for significant expansion
     2. High income market

==========================================================================================
RANK #3 - KÖLN
==========================================================================================
  Opportunity Index:        40.0/100

  📊 SCORES:
     Demand Score:          21.7/100
     Supply Gap Score:      42.9/100
     Interest Score:        71/100

  👥 MARKET SIZE:
     Population:            1,024,621
     Potential Players:     48,095
     Disposable Income:     €27,754

  🏓 CURRENT SUPPLY:
     Existing Courts:       25
     Courts per 100k:       2.44

  💡 WHY THIS CITY:
     1. Growing awareness and interest

==========================================================================================
FILES SAVED:
==========================================================================================
  ✓ opportunity_index_results.csv      (Full dataset with all scores)
  ✓ opportunity_index_summary.csv      (Summary for presentation)
==========================================================================================

==========================================================================================
QUICK STATISTICS
==========================================================================================
  Average Opportunity Index:     38.9
  Highest Opportunity Index:     77.5 (Berlin)
  Total Potential Players:       562,372
  Total Existing Courts:         287
  Average Courts per 100k:       2.82
==========================================================================================

In [34]:
# final touches using percentage of sports membership as another layer

In [35]:
padel_tennis_counts["city"] = padel_tennis_counts["city"].replace({
    "Munich": "München",
    "Frankfurt": "Frankfurt am Main"
})

# Merge all data together
merged = (
    pop_income_state
    .merge(germany_gtrend, on="state", how="left")
    .merge(padel_tennis_counts, on="city", how="left")
    .merge(gym_members, on="city", how="left")
    .merge(city_football_tennis, on="city", how="left")
    .merge(percentage_sports_population[['state', 'membership_rate_pct']], on="state", how="left")
)

print("Data loaded successfully!")
print(f"Analyzing {len(merged)} German cities\n")

# ============================================================================
# STEP 2: Calculate Opportunity Index
# ============================================================================

def calculate_opportunity_index(df):
    """
    Calculate opportunity index based on:
    - Potential padel players (from tennis, gym, football, newcomers)
    - Supply gap (courts per capita)
    - Search interest (Google Trends)
    
    CORRECTED Conversion rates (% who will TRY padel):
    - 15% of tennis players will try padel
    - 12% of gym members will try padel
    - 7% of football players will try padel
    - 2% of general population (newcomers)
    
    Note: These rates reflect realistic adoption, not the composition
    of the padel player base.
    """
    
    # Make a copy to avoid modifying original
    df = df.copy()
    
    # Fill missing values with 0 to avoid errors
    df['tennis_players'] = df['tennis_players'].fillna(0)
    df['gym_members'] = df['gym_members'].fillna(0)
    df['football_players'] = df['football_players'].fillna(0)
    df['padel_court_count'] = df['padel_court_count'].fillna(0)
    df['trend_score_five_years'] = df['trend_score_five_years'].fillna(0)
    
    # -------------------------------------------------------------------------
    # A) DEMAND SCORE: Calculate potential padel players
    # -------------------------------------------------------------------------
    
    # More realistic conversion rates:
    # - 15% of tennis players likely to try padel (mid-range estimate)
    # - 12% of gym members likely to try padel (mid-range estimate)
    # - 7% of football players likely to try padel (mid-range estimate)
    # - 2% of general population as newcomers
    
    df['potential_padel_players'] = (
        df['tennis_players'] * 0.15 +      # 15% of tennis players
        df['gym_members'] * 0.12 +          # 12% of gym members
        df['football_players'] * 0.07 +     # 7% of football players
        df['population'] * 0.02              # 2% newcomers from general pop
    )
    
    # Round and convert to int (now safe because we filled NaN)
    df['potential_padel_players'] = df['potential_padel_players'].round(0).astype(int)
    
    # Normalize to 0-100 scale (handle case where all values are 0)
    max_potential = df['potential_padel_players'].max()
    if max_potential > 0:
        df['demand_score'] = (
            (df['potential_padel_players'] / max_potential) * 100
        ).round(1)
    else:
        df['demand_score'] = 0
    
    # -------------------------------------------------------------------------
    # B) SUPPLY GAP SCORE: Fewer courts per capita = higher opportunity
    # -------------------------------------------------------------------------
    
    # Calculate courts per 100k population (avoid division by zero)
    df['courts_per_100k'] = (
        (df['padel_court_count'] / df['population']) * 100000
    ).replace([float('inf'), float('-inf')], 0).round(2)
    
    # Invert the score: fewer courts = higher opportunity
    max_density = df['courts_per_100k'].max()
    
    if max_density > 0:
        df['supply_gap_score'] = (
            100 - ((df['courts_per_100k'] / max_density) * 100)
        ).round(1)
    else:
        df['supply_gap_score'] = 100  # If no courts exist, max opportunity
    
    # -------------------------------------------------------------------------
    # C) INTEREST SCORE: Google Trends (already 0-100)
    # -------------------------------------------------------------------------
    
    df['interest_score'] = df['trend_score_five_years']
    
    # -------------------------------------------------------------------------
    # D) SPORTS CULTURE SCORE: Membership rate as indicator
    # -------------------------------------------------------------------------
    
    # Normalize membership_rate_pct to 0-100 scale
    # Higher membership rate = stronger sports culture = higher score
    df['membership_rate_pct'] = df['membership_rate_pct'].fillna(df['membership_rate_pct'].mean())
    
    max_membership = df['membership_rate_pct'].max()
    if max_membership > 0:
        df['sports_culture_score'] = (
            (df['membership_rate_pct'] / max_membership) * 100
        ).round(1)
    else:
        df['sports_culture_score'] = 0
    
    # -------------------------------------------------------------------------
    # E) FINAL OPPORTUNITY INDEX (weighted average)
    # -------------------------------------------------------------------------
    
    # Updated weights to include sports culture:
    # - 37.5% Demand (potential players)
    # - 37.5% Supply Gap (room for new courts)
    # - 15% Interest (search trends)
    # - 10% Sports Culture (organized sports participation)
    
    df['opportunity_index'] = (
        df['demand_score'] * 0.375 +
        df['supply_gap_score'] * 0.375 +
        df['interest_score'] * 0.15 +
        df['sports_culture_score'] * 0.10
    ).round(1)
    
    # Rank cities by opportunity
    df['rank'] = df['opportunity_index'].rank(ascending=False, method='min').astype(int)
    
    return df


# ===========================nb
=================================================
# STEP 3: Apply the calculation
# ============================================================================

df_final = calculate_opportunity_index(merged)

# ============================================================================
# STEP 4: Display results
# ============================================================================

# Select columns for display
result_columns = [
    'rank',
    'city',
    'state',
    'opportunity_index',
    'demand_score',
    'supply_gap_score',
    'interest_score',
    'sports_culture_score',
    'membership_rate_pct',
    'potential_padel_players',
    'padel_court_count',
    'courts_per_100k',
    'population',
    'disposable_income'
]

# Sort by opportunity index
results = df_final[result_columns].sort_values('opportunity_index', ascending=False)

print("="*90)
print("PADEL EXPANSION OPPORTUNITY INDEX - GERMAN CITIES")
print("="*90)
print(results.to_string(index=False))

# ============================================================================
# STEP 5: Show detailed insights for top 3 cities
# ============================================================================

print("\n" + "="*90)
print("TOP 3 EXPANSION OPPORTUNITIES - DETAILED ANALYSIS")
print("="*90)

top_3 = df_final.nlargest(3, 'opportunity_index')

for idx, row in top_3.iterrows():
    print(f"\n{'='*90}")
    print(f"RANK #{int(row['rank'])} - {row['city'].upper()}")
    print(f"{'='*90}")
    print(f"  Opportunity Index:        {row['opportunity_index']}/100")
    print(f"")
    print(f"  📊 SCORES:")
    print(f"     Demand Score:          {row['demand_score']}/100")
    print(f"     Supply Gap Score:      {row['supply_gap_score']}/100")
    print(f"     Interest Score:        {row['interest_score']}/100")
    print(f"     Sports Culture Score:  {row['sports_culture_score']}/100 ({row['membership_rate_pct']:.1f}% club membership)")
    print(f"")
    print(f"  👥 MARKET SIZE:")
    print(f"     Population:            {row['population']:,}")
    print(f"     Potential Players:     {row['potential_padel_players']:,}")
    print(f"     Disposable Income:     €{row['disposable_income']:,}")
    print(f"")
    print(f"  🏓 CURRENT SUPPLY:")
    print(f"     Existing Courts:       {row['padel_court_count']}")
    print(f"     Courts per 100k:       {row['courts_per_100k']}")
    print(f"")
    print(f"  💡 WHY THIS CITY:")
    
    # Generate insights
    reasons = []
    if row['demand_score'] >= 80:
        reasons.append(f"Very high demand ({int(row['potential_padel_players']):,} potential players)")
    elif row['demand_score'] >= 60:
        reasons.append(f"Strong demand ({int(row['potential_padel_players']):,} potential players)")
    
    if row['supply_gap_score'] >= 80:
        reasons.append("Severely undersupplied with courts")
    elif row['supply_gap_score'] >= 60:
        reasons.append("Room for significant expansion")
    
    if row['interest_score'] >= 80:
        reasons.append("Very high search interest")
    elif row['interest_score'] >= 60:
        reasons.append("Growing awareness and interest")
    
    if row['disposable_income'] >= 30000:
        reasons.append("High income market")
    
    if row['sports_culture_score'] >= 80:
        reasons.append(f"Very strong sports culture ({row['membership_rate_pct']:.1f}% club membership)")
    elif row['sports_culture_score'] >= 60:
        reasons.append(f"Active sports culture ({row['membership_rate_pct']:.1f}% club membership)")
    
    for i, reason in enumerate(reasons, 1):
        print(f"     {i}. {reason}")

# ============================================================================
# STEP 6: Save results
# ============================================================================

# Save full results to CSV
df_final.to_csv('opportunity_index_results.csv', index=False)

# Create a summary table for presentation
summary = df_final[[
    'rank', 'city', 'opportunity_index', 
    'potential_padel_players', 'padel_court_count', 'courts_per_100k'
]].sort_values('rank')

summary.to_csv('opportunity_index_summary.csv', index=False)

print("\n" + "="*90)
print("FILES SAVED:")
print("="*90)
print("  ✓ opportunity_index_results.csv      (Full dataset with all scores)")
print("  ✓ opportunity_index_summary.csv      (Summary for presentation)")
print("="*90)

# ============================================================================
# STEP 7: Quick statistics
# ============================================================================

print("\n" + "="*90)
print("QUICK STATISTICS")
print("="*90)
print(f"  Average Opportunity Index:     {df_final['opportunity_index'].mean():.1f}")
print(f"  Highest Opportunity Index:     {df_final['opportunity_index'].max():.1f} ({df_final.loc[df_final['opportunity_index'].idxmax(), 'city']})")
print(f"  Total Potential Players:       {df_final['potential_padel_players'].sum():,}")
print(f"  Total Existing Courts:         {df_final['padel_court_count'].sum()}")
print(f"  Average Courts per 100k:       {df_final['courts_per_100k'].mean():.2f}")
print("="*90)

Data loaded successfully!
Analyzing 8 German cities

==========================================================================================
PADEL EXPANSION OPPORTUNITY INDEX - GERMAN CITIES
==========================================================================================
 rank              city                  state  opportunity_index  demand_score  supply_gap_score  interest_score  sports_culture_score  membership_rate_pct  potential_padel_players  padel_court_count  courts_per_100k  population  disposable_income
    1            Berlin                 Berlin               75.4         100.0              59.7              68                  53.6            24.500000                   221869                 67             1.72     3902645              26209
    2         Stuttgart      Baden-Württemberg               47.9          12.8              69.1              48                 100.0            45.680000                    28440                  8             1.32      604804              30242
    3              Köln North Rhine-Westphalia               43.1          21.7              42.9              71                  81.9            37.393333                    48095                 25             2.44     1024621              27754
    4           München                Bavaria               41.9          44.0              24.1              47                  92.9            42.430000                    97576                 52             3.24     1604771              31525
    5           Hamburg                Hamburg               38.5          42.6               0.0             100                  75.7            34.590000                    94419                 79             4.27     1851596              29620
    6        Düsseldorf North Rhine-Westphalia               34.4          12.8              28.8              71                  81.9            37.393333                    28439                 20             3.04      658245              27754
    7              Kiel     Schleswig-Holstein               29.2           4.2              34.9              48                  73.8            33.720000                     9310                  7             2.78      251379              29395
    8 Frankfurt am Main                  Hesse               28.0          15.4              12.4              54                  95.1            43.440000                    34224                 29             3.74      775109              28826

==========================================================================================
TOP 3 EXPANSION OPPORTUNITIES - DETAILED ANALYSIS
==========================================================================================

==========================================================================================
RANK #1 - BERLIN
==========================================================================================
  Opportunity Index:        75.4/100

  📊 SCORES:
     Demand Score:          100.0/100
     Supply Gap Score:      59.7/100
     Interest Score:        68/100
     Sports Culture Score:  53.6/100 (24.5% club membership)

  👥 MARKET SIZE:
     Population:            3,902,645
     Potential Players:     221,869
     Disposable Income:     €26,209

  🏓 CURRENT SUPPLY:
     Existing Courts:       67
     Courts per 100k:       1.72

  💡 WHY THIS CITY:
     1. Very high demand (221,869 potential players)
     2. Growing awareness and interest

==========================================================================================
RANK #2 - STUTTGART
==========================================================================================
  Opportunity Index:        47.9/100

  📊 SCORES:
     Demand Score:          12.8/100
     Supply Gap Score:      69.1/100
     Interest Score:        48/100
     Sports Culture Score:  100.0/100 (45.7% club membership)

  👥 MARKET SIZE:
     Population:            604,804
     Potential Players:     28,440
     Disposable Income:     €30,242

  🏓 CURRENT SUPPLY:
     Existing Courts:       8
     Courts per 100k:       1.32

  💡 WHY THIS CITY:
     1. Room for significant expansion
     2. High income market
     3. Very strong sports culture (45.7% club membership)

==========================================================================================
RANK #3 - KÖLN
==========================================================================================
  Opportunity Index:        43.1/100

  📊 SCORES:
     Demand Score:          21.7/100
     Supply Gap Score:      42.9/100
     Interest Score:        71/100
     Sports Culture Score:  81.9/100 (37.4% club membership)

  👥 MARKET SIZE:
     Population:            1,024,621
     Potential Players:     48,095
     Disposable Income:     €27,754

  🏓 CURRENT SUPPLY:
     Existing Courts:       25
     Courts per 100k:       2.44

  💡 WHY THIS CITY:
     1. Growing awareness and interest
     2. Very strong sports culture (37.4% club membership)

==========================================================================================
FILES SAVED:
==========================================================================================
  ✓ opportunity_index_results.csv      (Full dataset with all scores)
  ✓ opportunity_index_summary.csv      (Summary for presentation)
==========================================================================================

==========================================================================================
QUICK STATISTICS
==========================================================================================
  Average Opportunity Index:     42.3
  Highest Opportunity Index:     75.4 (Berlin)
  Total Potential Players:       562,372
  Total Existing Courts:         287
  Average Courts per 100k:       2.82
==========================================================================================

In [ ]:
#RUN COMPLETE ANALYSIS

In [38]:
df_final = calculate_opportunity_index(merged)

In [47]:
city_coordinates = {
    'Berlin': {'lat': 52.5200, 'lon': 13.4050},
    'Hamburg': {'lat': 53.5511, 'lon': 9.9937},
    'München': {'lat': 48.1351, 'lon': 11.5820},
    'Frankfurt am Main': {'lat': 50.1109, 'lon': 8.6821},
    'Köln': {'lat': 50.9375, 'lon': 6.9603},
    'Düsseldorf': {'lat': 51.2277, 'lon': 6.7735},
    'Stuttgart': {'lat': 48.7758, 'lon': 9.1829},
    'Kiel': {'lat': 54.3233, 'lon': 10.1394}
}

# Add coordinates to your dataframe
df_final['latitude'] = df_final['city'].map(lambda x: city_coordinates[x]['lat'])
df_final['longitude'] = df_final['city'].map(lambda x: city_coordinates[x]['lon'])

# Re-export
df_final.to_csv('opportunity_index_results.csv', index=False)

In [40]:
top_3 = df_final.nlargest(3, 'opportunity_index')
print(top_3[['city', 'opportunity_index', 'demand_score', 
             'supply_gap_score', 'interest_score', 'sports_culture_score']])

        city  opportunity_index  demand_score  supply_gap_score  \
1     Berlin               75.4         100.0              59.7
7  Stuttgart               47.9          12.8              69.1
4       Köln               43.1          21.7              42.9

   interest_score  sports_culture_score
1              68                  53.6
7              48                 100.0
4              71                  81.9

In [46]:
top_3.to_csv('top_3_summary.csv', index=False)

In [45]:
df_final.to_csv('opportunity_index_results.csv', index=False)